version: '3.8'

services:
  inference-service:
    build: ./airphynet-model
    container_name: inference-service
    command: uvicorn inference_api:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}
      - MLFLOW_TRACKING_USERNAME=${MLFLOW_TRACKING_USERNAME}
      - MLFLOW_TRACKING_PASSWORD=${MLFLOW_TRACKING_PASSWORD}
      - MLFLOW_MODEL_URI=models:/AirPhyNet/Production

  ingestion-service:
    build: ./airphynet-model
    container_name: ingestion-service
    command: python ingestor.py
    restart: always
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - MQTT_BROKER=${MQTT_BROKER}
      - MQTT_PORT=${MQTT_PORT}
      - MQTT_TOPIC=${MQTT_TOPIC}
      - MQTT_USERNAME=${MQTT_USERNAME}
      - MQTT_PASSWORD=${MQTT_PASSWORD}